<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="XLauncher" type="System.Configuration.DictionarySectionHandler" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <XLauncher>
    <!-- Entity Properties -->
    <add key="entity.usecache" value="false" />
    <!-- Setup Properties -->
    <add key="setup.filename" value="XLauncher.Setup.exe" />
    <add key="setup.versionfile" value="version.txt" />
    <add key="setup.waittimeout" value="15" />
    <add key="setup.root.1" />
    <!-- Timers -->
    <add key="timer.autoclose" value="00:00" />
    <add key="timer.autoreload" value="-01:00" />
    <!-- Environment Roots -->
    <add key="public.root.1" value="..\..\..\tests\Environments\Specs"/>
    <!-- Local Properties -->
    <add key="local.settings.folder" value="Settings" />
    <add key="local.settings.filename" value="Settings.xml" />
    <add key="local.temp.folder" value="XLauncher" />
    <add key="local.tempfile.pfx.1" value="XLSession_" />
    <add key="local.tempfile.pfx.2" value="XLauncher.XAI." />
    <add key="local.tempfile.keepdays" value="7" />
    <add key="user.root" value="Environments" />
    <!-- Excel Properties -->
    <add key="excel.args" value="/x /r" />
    <add key="excel.addin" value="..\XLauncher.XAI\XLauncher64.xll" />
    <!-- UI properties -->
    <add key="ui.color.flash" value="#104080" />
    <add key="ui.color.x86" value="#000080" />
    <add key="ui.color.x64" value="#006000" />
    <add key="ui.default.auth" value="deny" />
    <add key="ui.envdesc.linelen" value="40" />
    <add key="ui.flash.span" value="2000" />
    <add key="ui.groupname.local" value="User" />
    <add key="ui.groupname.public" value="Public" />
    <add key="ui.restore.tab" value="true" />
    <add key="ui.showtooltips" value="false" />
  </XLauncher>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        parseMessageTemplates="true"
  >

    <variable name="tempFolder" value="XLauncher" />
    <variable name="logFile" value="XLauncher.UI.log" />

    <variable name="ulogFolder" value="${nlogdir:dir=ULog}" />
    <variable name="ulogFile" value="${uppercase:${environment:USERDOMAIN}_${environment:USERNAME}}.log" />

    <targets>

      <target name="uilog" xsi:type="MethodCall"
              className="XLauncher.UI.App, XLauncher" methodName="LogMessage">
        <parameter name="message" layout="${time}|${level:uppercase=true}|${callsite}|${message}${onexception:inner=|${exception:format=Type}\: ${exception:format=Message}}" />
      </target>


      <target name="applog" xsi:type="File"
              layout="${longdate}|${level:uppercase=true}|${callsite}|${message}${onexception:inner=|${exception:format=Type}\: ${exception:format=Message}}"
              fileName="${tempdir:dir=${tempFolder}:file=${logFile}}"
              deleteOldFileOnStartup="true"
      />

      <target name="userlog" xsi:type="File"
              layout="${longdate}|${uppercase:${environment:USERDOMAIN}}|${uppercase:${environment:USERNAME}}|${environment:COMPUTERNAME}|${event-properties:appver}|${event-properties:local}|${event-properties:group}|${event-properties:name}|${event-properties:arch}"
              fileName="${ulogFolder}\${ulogFile}"
              keepFileOpen="false"
              archiveFileName="${ulogFolder}\${ulogFile}"
              archiveSuffixFormat=".{0:00}"
              archiveAboveSize="131072"
              maxArchiveFiles="7"
      />

      <target name="tracelog" xsi:type="File"
              layout="${longdate}|${level:uppercase=true}|${callsite}|${message}${onexception:inner=|${exception:format=Type}\: ${exception:format=Message}}"
              fileName="XLauncher.UI.trace.log"
              deleteOldFileOnStartup="true"
      />

    </targets>

    <rules>
      <logger name="UsageLogger" minlevel="Info" writeTo="userlog" final="true"/>
      <logger name="*" minlevel="Info" writeTo="applog" />
      <logger name="*" minlevel="Error" writeTo="uilog" />
      <logger name="*" minlevel="Trace" writeTo="tracelog" />
    </rules>

  </nlog>

</configuration>
