<?xml version="1.0" encoding="utf-8"?>
<LocalSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ExcelPath>C:\Program Files\Microsoft Office\root\Office16\Excel.exe</ExcelPath>
  <ExcelArch>x64</ExcelArch>
  <LastEnvironmentId />
  <LocalRoots>
    <string>..\..\..\tests\Environments\Specs</string>
    <string>\\localhost\C$\Development\NET_Projects\XLauncher\tests\Environments\Examples</string>
  </LocalRoots>
  <GlobalAddins>
    <GlobalAddin>
      <Active>true</Active>
      <Path>C:\Development\NET_Projects\XLauncher\tests\RW-addin.xll</Path>
      <ReadOnly>false</ReadOnly>
    </GlobalAddin>
    <GlobalAddin>
      <Active>true</Active>
      <Path>C:\Development\NET_Projects\XLauncher\tests\RO-addin.xll</Path>
      <ReadOnly>true</ReadOnly>
    </GlobalAddin>
    <GlobalAddin>
      <Active>true</Active>
      <Path>C:\Development\NET_Projects\XLauncher\tests\VBA-addin.xlam</Path>
      <ReadOnly>true</ReadOnly>
    </GlobalAddin>
  </GlobalAddins>
</LocalSettings>
