<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="XLauncherSetup" type="System.Configuration.DictionarySectionHandler" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <XLauncherSetup>
    <add key="app.filename" value="XLauncher.exe"/>
    <add key="distribution.folder" value="XLauncher"/>
    <add key="install.root" value="ApplicationData"/>
    <add key="install.folder" value="XLauncher"/>
    <add key="link.create" value="true"/>
    <add key="link.desktop" value="true"/>
    <add key="link.description" value="Start XLauncher"/>
    <add key="link.filename" value="XLauncher.lnk"/>
    <add key="setup.clean" value="true"/>
    <add key="setup.quiet" value="false"/>
    <add key="setup.wait.timeout" value="15"/>
    <add key="setup.wait.sleep" value="1"/>
  </XLauncherSetup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        parseMessageTemplates="true"
  >

    <variable name="tempFolder" value="XLauncher" />
    <variable name="logFile" value="XLauncher.Setup.log" />

    <variable name="ulogFolder" value="${tempdir:dir=${tempFolder}}" />
    <variable name="ulogFile" value="${uppercase:${environment:USERDOMAIN}-${environment:USERNAME}}.log" />

    <targets>

      <target name="applog" xsi:type="File"
              layout="${longdate}|${level:uppercase=true}|${callsite}|${message}${onexception:inner=|${exception:format=Type}\: ${exception:format=Message}}"
              fileName="${tempdir:dir=${tempFolder}:file=${logFile}}"
              archiveFileName="${tempdir:dir=${tempFolder}:file=${logFile}}"
              archiveSuffixFormat=".{0:00}"
              archiveOldFileOnStartup="true"
              maxArchiveFiles="4"
      />

      <target name="userlog" xsi:type="File"
              layout="${longdate}|${uppercase:${environment:USERDOMAIN}}|${uppercase:${environment:USERNAME}}|${environment:COMPUTERNAME}|${event-properties:type}|${event-properties:version}|${event-properties:clean}|${event-properties:quiet}|${event-properties:dlink}|${event-properties:dst}"
              fileName="${ulogFolder}\${ulogFile}"
              keepFileOpen="false"
              archiveFileName="${ulogFolder}\${ulogFile}"
              archiveSuffixFormat=".{0:00}"
              archiveAboveSize="131072"
              maxArchiveFiles="1"
      />

    </targets>

    <rules>
      <logger name="UsageLogger" minlevel="Info" writeTo="userlog" final="true"/>
      <logger name="*" minlevel="Info" writeTo="applog" />
    </rules>

  </nlog>

</configuration>
