<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        parseMessageTemplates="false"
  >

    <variable name="tempFolder" value="XLauncher" />
    <variable name="logFile" value="XLauncher.XAI" />

    <targets>

      <target name="xldisplay" xsi:type="MethodCall"
              className="ExcelDna.Logging.LogDisplay, ExcelDna.Integration" methodName="RecordMessage">
        <parameter name="message" layout="${time}|${level:uppercase=true}|${logger}|${message}${onexception:inner=|${exception:format=Type}\: ${exception:format=Message}}" />
      </target>

      <target name="xailog" xsi:type="File"
              layout="${longdate}|${level:uppercase=true}|${callsite}|${message}${onexception:inner=|${exception:format=Type}\: ${exception:format=Message}}"
              fileName="${tempdir:dir=${tempFolder}:file=${logFile}}.${processid}.log"
              archiveOldFileOnStartup="true"
              archiveNumbering="Rolling"
              maxArchiveFiles="4"
      />

      <target name="tracelog" xsi:type="File"
              layout="${longdate}|${level:uppercase=true}|${callsite}|${message}${onexception:inner=|${exception:format=Type}\: ${exception:format=Message}}"
              fileName="XLauncher.XAI.trace.log"
              deleteOldFileOnStartup="true"
      />

    </targets>

    <rules>
      <logger ruleName="UI" name="*" minlevel="Error" writeTo="xldisplay" />
      <logger ruleName="File" name="*" minlevel="Info" writeTo="xailog" />
      <logger name="*" minlevel="Trace" writeTo="tracelog" />
    </rules>

  </nlog>

</configuration>
